<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.polytech.peer2peer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.polytech.peer2peer.peerinterface.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.polytech.peer2peer.peerinterface.FileList"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="fileChooser.FileChooser"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.polytech.peer2peer.peerinterface.MonCatalogue"
            android:label="@string/title_activity_mon_catalogue" >
        </activity>
        <activity
            android:name="com.polytech.peer2peer.peerinterface.ListePear"
            android:label="@string/title_activity_liste_pear" >
        </activity>
    </application>

</manifest>
